.singlerowpost-heading {
    text-transform: uppercase;
}

.singlerowpost-background-image {
    background-size: cover !important;
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
}

.singlerowpost-left-col {
    padding-left: 0px;
    padding-right: 0px;
}

.contain-singlerowpost-content {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 5% !important;
}

.singlerowpost-title {
    padding-top: 20px;
    padding-bottom: 6px;
    font-size: 18px;
    color: #207e4e;
}

.singlerowpost-time {
    padding-bottom: 22px;
}

.singlerowpost-link a {
    font-size: 16px;
    text-transform: uppercase;
}
